<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	  <link rel="stylesheet" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/style.css">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<nav th:fragment= "header" class="navbar" style="background-color: #1DB954; color: white;">
  <a class="navbar-brand">Sistēma automātiskai nodarbību grafiku ģenerēšanai</a>
    <ul class="navbar-nav" >
        <a class="nav-link" href="/"> Nodarbību grafiks </a>
        <a class="nav-link" href="/schedules"> Grafika ģenerēšana </a>
        <a class="nav-link" href="/teachers"> Pasniedzēji </a>
        <a class="nav-link" href="/classrooms"> Auditorijas </a> 
        <a class="nav-link" href="/groups"> Grupas </a>
        <a class="nav-link" href="/courses"> Kursi </a>
        <a class="nav-link" href="/group_courses"> Kopīgie kursi </a>
        <a class="nav-link" href="/holidays"> Brīvdienas </a>
        <a class="nav-link" href="/settings"> Iestatījumi </a>
    </ul>
  </div>
</nav>
</body>
</html>