<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pievienot auditoriju</title>
	<link rel="icon" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<style>.invalid-feedback {left: 918px;}</style>
</head>
<body>
	<div th:insert="~{fragments/header :: header}"></div>
    <div class="container">
        <h3>Pievienot auditoriju</h3>
        <div class="card">
			<a href="/classrooms" class="btn-primary"><i class="fa fa-reply"> Atpakaļ </i></a>
            <div class="card-body">
                <form action="#" th:action="@{/add-classroom}" th:object="${classroom}" method="post">
                    <div class="form-group">
                        <label>Nosaukums</label> 
                        <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Nosaukums"
						    th:classappend="${#fields.hasErrors('title')}? 'is-invalid' : ''"/>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                    </div>
					<div class="form-group">
                        <label>Sēdvietu skaits</label> 
                        <input type="number" th:field="*{numberOfSeats}" class="form-control" id="numberOfSeats" placeholder="Sēdvietu skaits"
						    th:classappend="${#fields.hasErrors('numberOfSeats')}? 'is-invalid' : ''"/>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('numberOfSeats')}" th:errors="*{numberOfSeats}"></div>
                    </div>
                    <div class="form-group">
						<label>Aprīkojums Nr. 1</label>
						<select th:field ="*{equipment1}" class="form-control" >
							<option value="" selected>-- Atlasiet aprīkojumu --</option>
							<option th:each="equipment : ${T(vea.model.Equipment).values()}"
							     th:value="${equipment}"
							     th:text="${equipment}">
							</option>
						</select>
					</div>
                    <div class="form-group">
						<label>Aprīkojums Nr. 2</label>
						<select th:field ="*{equipment2}" class="form-control" >
							<option value="" selected>-- Atlasiet aprīkojumu --</option>
							<option th:each="equipment : ${T(vea.model.Equipment).values()}"
							     th:value="${equipment}"
							     th:text="${equipment}">
							</option>
						</select>
					</div>
                    <div class="form-group">
						<label>Aprīkojums Nr. 3</label>
						<select th:field ="*{equipment3}" class="form-control" >
							<option value="" selected>-- Atlasiet aprīkojumu --</option>
							<option th:each="equipment : ${T(vea.model.Equipment).values()}"
							     th:value="${equipment}"
							     th:text="${equipment}">
							</option>
						</select>
					</div>
                    <div class="form-group">
						<label>Aprīkojums Nr. 4</label>
						<select th:field ="*{equipment4}" class="form-control" >
							<option value="" selected>-- Atlasiet aprīkojumu --</option>
							<option th:each="equipment : ${T(vea.model.Equipment).values()}"
							     th:value="${equipment}"
							     th:text="${equipment}">
							</option>
						</select>
					</div>
					<input type="submit" style="position: relative; right: -168px;" class="btn-primary" value="Iesniegt">
                </form>
            </div>
        </div>
		<div class="content" style="padding: 34px;"></div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>