<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pievienot grupu</title>
	<link rel="icon" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
	<div th:insert="~{fragments/header :: header}"></div>
    <div class="container">
        <h3>Pievienot grupu</h3>
        <div class="card">
			<a href="/groups" class="btn-primary"><i class="fa fa-reply"> Atpakaļ </i></a>
            <div class="card-body">
                <form action="#" th:action="@{/add-group}" th:object="${group}" method="post">
					<div class="form-group">
						<label>Nosaukums</label> 
						<input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Nosaukums"
						    th:classappend="${#fields.hasErrors('title')}? 'is-invalid' : ''"/>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>	
					</div>
					<div class="form-group">
						<label>Studentu skaits</label> 
						<input type="number" th:field="*{numberOfStudents}" class="form-control" id="numberOfStudents" placeholder="Studentu skaits"
						    th:classappend="${#fields.hasErrors('numberOfStudents')}? 'is-invalid' : ''"/>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('numberOfStudents')}" th:errors="*{numberOfStudents}"></div>
					</div>
					<div class="form-group">
						<label>Semestris</label> 
                        <select th:field ="*{semester}" class="form-control"
						    th:classappend="${#fields.hasErrors('semester')}? 'is-invalid' : ''">
							<option value="" selected>-- Atlasiet semestri --</option>
							<option th:each="semester : ${T(vea.model.Semester).values()}"
							     th:value="${semester}"
							     th:text="${semester}">
							</option>
						</select>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('semester')}" th:errors="*{semester}"></div>
					</div>
					<div class="form-group">
						<label>Kurss Nr. 1</label>
						<select th:field ="*{course1}" class="form-control">
							<option value="" selected>-- Atlasiet kursu --</option>
							   <option th:each="course: ${course}" th:value="${course.id}" th:text="${course.title}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Kurss Nr. 2</label>
						<select th:field ="*{course2}" class="form-control">
							<option value="" selected>-- Atlasiet kursu --</option>
							   <option th:each="course: ${course}" th:value="${course.id}" th:text="${course.title}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Kurss Nr. 3</label>
						<select th:field ="*{course3}" class="form-control">
							<option value="" selected>-- Atlasiet kursu --</option>
							   <option th:each="course: ${course}" th:value="${course.id}" th:text="${course.title}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Kurss Nr. 4</label>
						<select th:field ="*{course4}" class="form-control">
							<option value="" selected>-- Atlasiet kursu --</option>
							   <option th:each="course: ${course}" th:value="${course.id}" th:text="${course.title}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Kurss Nr. 5</label>
						<select th:field ="*{course5}" class="form-control">
							<option value="" selected>-- Atlasiet kursu --</option>
							   <option th:each="course: ${course}" th:value="${course.id}" th:text="${course.title}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Kurss Nr. 6</label>
						<select th:field ="*{course6}" class="form-control">
							<option value="" selected>-- Atlasiet kursu --</option>
							   <option th:each="course: ${course}" th:value="${course.id}" th:text="${course.title}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Kurss Nr. 7</label>
						<select th:field ="*{course7}" class="form-control">
							<option value="" selected>-- Atlasiet kursu --</option>
							   <option th:each="course: ${course}" th:value="${course.id}" th:text="${course.title}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Kurss Nr. 8</label>
						<select th:field ="*{course8}" class="form-control">
							<option value="" selected>-- Atlasiet kursu --</option>
							   <option th:each="course: ${course}" th:value="${course.id}" th:text="${course.title}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Kurss Nr. 9</label>
						<select th:field ="*{course9}" class="form-control">
							<option value="" selected>-- Atlasiet kursu --</option>
							   <option th:each="course: ${course}" th:value="${course.id}" th:text="${course.title}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Kurss Nr. 10</label>
						<select th:field ="*{course10}" class="form-control">
							<option value="" selected>-- Atlasiet kursu --</option>
							   <option th:each="course: ${course}" th:value="${course.id}" th:text="${course.title}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Kurss Nr. 11</label>
						<select th:field ="*{course11}" class="form-control">
							<option value="" selected>-- Atlasiet kursu --</option>
							   <option th:each="course: ${course}" th:value="${course.id}" th:text="${course.title}"></option>
						</select>
					</div>
					<div class="form-group">
						<label>Šis ir pēdējais semestris</label> 
                        <input type="checkbox" th:field="*{lastSemester}"/>
					</div>
					<input type="submit" style="position: relative; right: -166px;" class="btn-primary" value="Iesniegt">
                </form>
            </div>
        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>