<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pievienot nepiemērotu datumu</title>
	<link rel="icon" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <style>.invalid-feedback {left: 900px;}</style>
    <script>
        function addDateField() {
            const dateList = document.getElementById('date-list');
            const newDateField = document.createElement('input');
            newDateField.setAttribute('type', 'date');
            newDateField.setAttribute('name', 'dates');
            newDateField.setAttribute('class', 'form-control');
            newDateField.required = true;
            dateList.appendChild(newDateField);
        }
    </script>
</head>
<body>
	<div th:insert="~{fragments/header :: header}"></div>
    <div class="container">
        <h3>Pievienot nepiemērotu datumu</h3>
        <div class="card">
            <a th:href="@{/search-teacher/{id}(id=${teacher.id})}" class="btn-primary"><i class="fa fa-reply"> Atpakaļ </i></a>
            <div class="card-body">
                <form action="#" th:action="@{/add-unavailability/{id}(id=${teacher.id})}" th:object="${teacherUnavailability}" method="post">
                    <div class="form-group">
                        <div class="button-container">
                            <label style="margin-top: 10px;">Datumi</label>
                            <div id="date-list">
                                <input type="date" name="dates[]" class="form-control" required>
                            </div>
                            <button type="button" class="btn-primary" onclick="addDateField()"> Pievienot datumu </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Sākuma laiks</label>
                        <select id="startTime" name="startTime" class="form-control">
                            <option value="09:00">09:00</option>
                            <option value="10:40">10:40</option>
                            <option value="13:00">13:00</option>
                            <option value="14:40">14:40</option>
                            <option value="16:15">16:15</option>
                            <option value="17:50">17:50</option>
                            <option value="19:25">19:25</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Beigu laiks</label>
                        <select id="endTime" name="endTime" class="form-control">
                            <option value="10:30">10:30</option>
                            <option value="12:10">12:10</option>
                            <option value="14:30">14:30</option>
                            <option value="16:10">16:10</option>
                            <option value="17:45">17:45</option>
                            <option value="19:20">19:20</option>
                            <option value="20:55">20:55</option>
                        </select>
                    </div>
					<input type="submit" style="position: relative; right: -194px;" class="btn-primary" value="Iesniegt">
                </form>
            </div>
        </div>
		<div class="content" style="padding: 34px;"></div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>