<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nodarbību grafiks</title>
    <link rel="icon" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <style>
        .calendar {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
        }
        .calendar div {
            color: black;
            border: 3px solid black;
            background-color: white;
            padding: 10px;
            min-height: 100px;
        }
    </style>
</head>
<body>
    <div th:insert="~{fragments/header :: header}"></div>
	<div class="container">
        <div class="card">
            <div class="button-container">
                <form action="/" method="get">
                    <label>Atlasiet grupu:</label>
                    <select name="groupTitle" id="groupTitle" class="form-control">
                        <option value="" selected>--Atlasiet grupu--</option>
                        <option th:each="group : ${groups}" th:value="${group.title}" th:text="${group.title}"></option>
                    </select>
                    <button type="submit" class="btn-primary"> Filtrēt </button>
                </form>
                <form action="/" method="get">
                    <label>Atlasiet auditoriju:</label>
                    <select name="classroomTitle" id="classroomTitle" class="form-control">
                        <option value="" selected>--Atlasiet auditoriju--</option>
                        <option th:each="classroom : ${classrooms}" th:value="${classroom.title}" th:text="${classroom.title}"></option>
                    </select>
                    <button type="submit" class="btn-primary"> Filtrēt </button>
                </form>
                <form action="/" method="get">
                    <label>Atlasiet pasniedzēju:</label>
                    <select name="teacherName" id="teacherName" class="form-control">
                        <option value="" selected>--Atlasiet pasniedzēju--</option>
                        <option th:each="teacher : ${teachers}" th:value="${teacher.name}" th:text="${teacher.name}"></option>
                    </select>
                    <button type="submit" class="btn-primary"> Filtrēt </button>
                </form>
            </div>
            <div class="content" style="padding: 5px;"></div>
            <div class="button-container">
                <a th:href="@{/(startDate=${startDate.minusDays(7)}, groupTitle=${groupTitle}, 
                classroomTitle=${classroomTitle}, teacherName=${teacherName})}" class="btn-primary"><i class="fa fa-arrow-left"></i> Iepriekšējā nedēļa</a>
                <div th:with="scheduleList=${schedules}, currentGroup=${groupTitle}, 
                currentClassroom=${classroomTitle}, currentTeacher=${teacherName}">
                    <div th:each="schedule, iterStat : ${scheduleList}" th:if="${iterStat.index == 0}">
                        <a>
                            <span th:text="'Nodarbību grafiks priekš '" style="font-size: 2em;"></span>
                            <span style="color: #1DB954; font-size: 2em;" th:text="${currentGroup != null && !currentGroup.isEmpty() ? currentGroup : 
                                currentClassroom != null && !currentClassroom.isEmpty() ? currentClassroom : 
                                currentTeacher != null && !currentTeacher.isEmpty() ? currentTeacher : 
                                schedule.group.title}">
                            </span>
                        </a>
                    </div>
                </div>
                <a th:href="@{/(startDate=${startDate.plusDays(7)}, groupTitle=${groupTitle}, 
                classroomTitle=${classroomTitle}, teacherName=${teacherName})}" class="btn-primary">Nākamā nedēļa <i class="fa fa-arrow-right"></i></a>
            </div>
            <div class="line-separator"></div>
            <div class="calendar">
                <div></div>
                <div th:each="dayOffset : ${#numbers.sequence(0, 6)}">
                    <span th:text="${#strings.capitalize(#temporals.format(startDate.plusDays(dayOffset), 'EEEE'))}"></span><br>
                    <span th:text="${#temporals.format(startDate.plusDays(dayOffset), 'dd/MM')}"></span>
                </div>
                <th:block th:each="startTime, iterStat : ${startTimes}">
                    <div th:text="${startTime + ' - ' + endTimes[iterStat.index]}"></div>
                    <th:block th:each="dayOffset : ${#numbers.sequence(0, 6)}">
                        <div th:with="scheduleList=${schedules}">
                            <div th:each="schedule : ${scheduleList}" 
                                 th:if="${schedule.date == startDate.plusDays(dayOffset) and schedule.time == startTime}" 
                                 style="background-color: #1DB954;">
                                <p th:text="${schedule.course.title}"></p>
                                <p th:text="${schedule.teacher.position + '. ' + schedule.teacher.name}"></p>
                                <p th:text="${schedule.classroom.title}"></p>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>        
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>