<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visas auditorijas</title>
	<link rel="icon" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<style>.card-body { display: block; }</style>
	<script>
		function confirmDeletion() {
		    return confirm("Vai tiešām vēlaties dzēst?");
		}
	</script>	
</head>
<body>
	<div th:insert="~{fragments/header :: header}"></div>
	<div class="container" style="padding-left: 120px; padding-right: 120px;">
		<div class="card">
			<div class="card-body">
				<div th:switch="${classrooms}" class="container">
					<div>
						<div class="button-container">
							<a href="/add-classroom" class="btn-primary"><i class="fa fa-plus"> Pievienot auditoriju </i></a>
							<form th:action="@{/search-classroom}" class="form-inline">
						        <input class="form-control" name= "keyword" id = "keyword" type="text" placeholder="Meklēt" aria-label="Search" th:value="${keyword}">
						        <button class="btn-primary" type="submit">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
					        </form>
						</div>
						<div class="line-separator"></div>
						<p>Kopējais auditoriju skaits: <span th:text="${rowCount}"></span></p>
				    </div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Nosaukums</th>
									<th>Sēdvietu skaits</th>
									<th>Aprīkojums Nr. 1</th>
									<th>Aprīkojums Nr. 2</th>
									<th>Aprīkojums Nr. 3</th>
									<th>Aprīkojums Nr. 4</th>
									<th>Rediģēt</th>
									<th>Dzēst</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="classroom : ${classrooms}">
									<td th:text="${classroom.title}"></td>
									<td th:text="${classroom.numberOfSeats}"></td>
									<td th:text="${classroom.equipment1}"></td>
									<td th:text="${classroom.equipment2}"></td>
									<td th:text="${classroom.equipment3}"></td>
									<td th:text="${classroom.equipment4}"></td>
									<td><a th:href="@{/update-classroom/{id}(id=${classroom.id})}" class="btn-primary">
										<i class="fas fa-pen-alt"></i></a></td>
									<td><a th:href="@{/remove-classroom/{id}(id=${classroom.id})}" class="btn-primary" 
										onclick="return confirmDeletion()"><i class="fas fa-trash-alt"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>