<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visi kursi</title>
	<link rel="icon" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<style>.card-body { display: block; }</style>
	<script th:inline="javascript">
	    function confirmDeletion() {
		    return confirm("Vai tiešām vēlaties dzēst?");
	    }
	    window.onload = function() {
		    var errorMsg = /*[[${errormsg}]]*/ '';
		    if (errorMsg) {
			    alert(errorMsg);
		    }
	    }
    </script>
</head>
<body>
	<div th:insert="~{fragments/header :: header}"></div>
	<div class="container">
		<div class="card">
			<div class="card-body">
				<div th:switch="${courses}" class="container">
					<div>
						<div class="button-container">
							<a href="/add-course" class="btn-primary"><i class="fa fa-plus"> Pievienot kursu </i></a>
							<a href="/courses/toggleSort" class="btn-primary"><i class="fas fa-sort-alpha-down"> Kārtot </i></a>
							<form th:action="@{/search-course}" class="form-inline">
						        <input class="form-control" name= "keyword" id = "keyword" type="text" placeholder="Meklēt" aria-label="Search" th:value="${keyword}">
						        <button class="btn-primary" type="submit">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
					        </form>
						</div>
						<div class="line-separator"></div>
						<p>Kopējais kursu skaits: <span th:text="${rowCount}"></span></p>
				    </div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Nosaukums</th>
									<th>Nodarbību skaits</th>
									<th>Pirmais pasniedzējs</th>
									<th>Otrais pasniedzējs</th>
									<th>Detaļas</th>
									<th>Rediģēt</th>
									<th>Dzēst</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="course : ${courses}">
									<td th:text="${course.title}"></td>
									<td th:text="${course.numberOfLessons}"></td>
									<td th:text="${course.teacher1.name}"></td>
									<td th:text="${course.teacher2!= null ? course.teacher2.name : ''}"></td>
									<td><a th:href="@{/search-course/{id}(id=${course.id})}" class="btn-primary">
										<i class="fa fa-info"></i></a></td>
									<td><a th:href="@{/update-course/{id}(id=${course.id})}" class="btn-primary">
										<i class="fas fa-pen-alt"></i></a></td>
									<td><a th:href="@{/remove-course/{id}(id=${course.id})}" class="btn-primary" 
										onclick="return confirmDeletion()"><i class="fas fa-trash-alt"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>