<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Visas grupas</title>
	<link rel="icon" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<style>.card-body { display: block; }</style>
	<script>
		function confirmDeletion() {
		    return confirm("Vai tiešām vēlaties dzēst?");
		}
	</script>
</head>
<body>
	<div th:insert="~{fragments/header :: header}"></div>
	<div class="container" style="padding-left: 150px; padding-right: 150px;">
		<div class="card">
			<div class="card-body">
				<div th:switch="${groups}" class="container">
					<div>
						<div class="button-container">
							<a href="/add-group" class="btn-primary"><i class="fa fa-plus"> Pievienot grupu </i></a>
							<form action="/groups/sorted" method="get">
								<label>Atlasiet semestri:</label>
								<select name="semester" id="semester" class="form-control">
									<option value="" selected>--Atlasiet semestri--</option>
									<option th:each="semester : ${T(vea.model.Semester).values()}"
							    		 th:value="${semester}"
							    		 th:text="${semester}">
							    	</option>
								</select>
								<input type="hidden" name="filterLastSemester" th:value="${filterLastSemester}" />
								<button type="submit" class="btn-primary"> Filtrēt </button>
							</form>
							<a th:href="@{/groups/sorted(semester=${semester}, filterLastSemester=${not(filterLastSemester ?: false)})}" 
							class="btn-primary"> Tikai pēdējais semestris </a>
							<form th:action="@{/search-group}" class="form-inline">
						        <input class="form-control" name= "keyword" id = "keyword" type="text" placeholder="Meklēt" 
								aria-label="Meklēt" th:value="${keyword}">
						        <button class="btn-primary" type="submit">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
					        </form>
						</div>
						<div class="line-separator"></div>
						<p>Kopējais grupu skaits: <span th:text="${rowCount}"></span></p>
				    </div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Nosaukums</th>
									<th>Studentu skaits</th>
									<th>Semestris</th>
									<th>Šis ir pēdējais semestris</th>
									<th>Detaļas</th>
									<th>Rediģēt</th>
									<th>Dzēst</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="group : ${groups}">
									<td th:text="${group.title}"></td>
									<td th:text="${group.numberOfStudents}"></td>
									<td th:text="${group.semester}"></td>
									<td th:text="${group.lastSemester ? '✓' : '✕'}"></td>
									<td><a th:href="@{/search-group/{id}(id=${group.id})}" class="btn-primary">
										<i class="fa fa-info"></i></a></td>
									<td><a th:href="@{/update-group/{id}(id=${group.id})}" class="btn-primary">
										<i class="fas fa-pen-alt"></i></a></td>
									<td><a th:href="@{/remove-group/{id}(id=${group.id})}" class="btn-primary" 
										onclick="return confirmDeletion()"><i class="fas fa-trash-alt"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>