<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rediģēt kopīgo kursu</title>
    <link rel="icon" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://localhost/system-for-automatic-generation-of-lesson-schedules/src/main/resources/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<style>.invalid-feedback {left: 918px;} .form-group label {flex: 1;}</style>
	<style>
        .errormsg {
            color: red;
        }
    </style>
</head>
<body>
	<div th:insert="~{fragments/header :: header}"></div>
    <div class="container">
        <h3>Rediģēt kopīgo kursu</h3>
        <div class="card">
			<a href="/group_courses" class="btn-primary"><i class="fa fa-reply"> Atpakaļ </i></a>
            <div class="card-body">
                <form action="#" th:action="@{/update-group_course/{id}(id=${group_course.id})}" th:object="${group_course}" method="post">
                    <div class="form-group">
						<label>Grupa Nr. 1</label> 
                        <select th:field ="*{group1}" class="form-control" th:classappend="${#fields.hasErrors('group1')}? 'is-invalid' : ''">
							<option value="" selected>-- Atlasiet grupu --</option>
							   <option th:each="group: ${groups}" th:value="${group.id}" th:text="${group.title}"></option>
						</select>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('group1')}" th:errors="*{group1}"></div>
					</div>
                    <div class="form-group">
						<label>Grupa Nr. 2</label> 
                        <select th:field ="*{group2}" class="form-control" th:classappend="${#fields.hasErrors('group2')}? 'is-invalid' : ''">
							<option value="" selected>-- Atlasiet grupu --</option>
							   <option th:each="group: ${groups}" th:value="${group.id}" th:text="${group.title}"></option>
						</select>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('group2')}" th:errors="*{group2}"></div>
					</div>
                    <div class="form-group">
						<label>Kurss</label>
						<select th:field ="*{course}" class="form-control" th:classappend="${#fields.hasErrors('course')}? 'is-invalid' : ''">
							<option value="" selected>-- Atlasiet kursu --</option>
							   <option th:each="course: ${courses}" th:value="${course.id}" th:text="${course.title}"></option>
						</select>
						<div class="invalid-feedback" th:if="${#fields.hasErrors('course')}" th:errors="*{course}"></div>
					</div>
					<input type="submit" style="position: relative; right: -135px;" class="btn-primary" value="Iesniegt">
                </form>
            </div>
			<div th:if="${errormsg}" class="errormsg" th:text="${errormsg}"></div>
        </div>
		<div class="content" style="padding: 106px;"></div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>